/*
 * White text on a blue bg
 */
.white-on-blue {
	--bgcolor: var(--color-blue);
	--color: var(--color-light);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.white-on-blue:hover,
.white-on-blue:focus-within {
	--bgcolor: var(--color-light);
	--color: var(--color-blue);
}

.white-on-blue a {
	--color: var(--color-light);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.white-on-blue:hover a,
.white-on-blue:focus-within a:focus {
	--color: var(--color-blue);
}

/*
 * Charcoal text on a med gray bg
 */
.charcoal-on-med-gray {
	--bgcolor: var(--color-med-gray);
	--color: var(--color-charcoal);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.charcoal-on-med-gray:hover,
.charcoal-on-med-gray:focus-within {
	--bgcolor: var(--color-charcoal);
	--color: var(--color-med-gray);
}

.charcoal-on-med-gray a {
	--color: var(--color-charcoal);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.charcoal-on-med-gray:hover a,
.charcoal-on-med-gray:focus-within a:focus {
	--color: var(--color-med-gray);
}

/*
 * Default colors
 */
.multicolor {
	--bgcolor: var(--color-lt-gray);
	--color: var(--color-dark);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.multicolor:hover,
.multicolor:focus-within {
	--bgcolor: var(--color-lt-blue);
}

.multicolor a {
	--color: var(--color-blue);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.multicolor:hover a,
.multicolor:focus-within a:focus {
	--color: var(--color-dark);
}

/*
 * Dark Gray text on a white bg
 */
.dark-gray-on-white {
	--bgcolor: var(--color-light);
	--color: var(--color-dark-gray);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.dark-gray-on-white:hover,
.dark-gray-on-white:focus-within {
	--bgcolor: var(--color-dark-gray);
	--color: var(--color-light);
}

.dark-gray-on-white a {
	--color: var(--color-dark-gray);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.dark-gray-on-white:hover a,
.dark-gray-on-white:focus-within a:focus {
	--color: var(--color-light);
}

/*
 * Light Gray text on Dark bg
 */
.lt-gray-on-dark {
	--bgcolor: var(--color-dark);
	--color: var(--color-lt-gray);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.lt-gray-on-dark:hover,
.lt-gray-on-dark:focus-within {
	--bgcolor: var(--color-lt-gray);
	--color: var(--color-dark);
}

.lt-gray-on-dark a {
	--color: var(--color-lt-gray);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.lt-gray-on-dark:hover a,
.lt-gray-on-dark:focus-within a:focus {
	--color: var(--color-dark);
}

/*
 * Blue text on a white bg
 */
.blue-on-white {
	--bgcolor: var(--color-light);
	--color: var(--color-blue);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.blue-on-white:hover,
.blue-on-white:focus-within {
	--bgcolor: var(--color-blue);
	--color: var(--color-light);
}

.blue-on-white a {
	--color: var(--color-blue);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.blue-on-white:hover a,
.blue-on-white:focus-within a:focus {
	--color: var(--color-light);
}

/*
 * White text on a Dark Gray bg
 */
.white-on-dark-gray {
	--bgcolor: var(--color-dark-gray);
	--color: var(--color-light);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.white-on-dark-gray:hover,
.white-on-dark-gray:focus-within {
	--bgcolor: var(--color-light);
	--color: var(--color-dark-gray);
}

.white-on-dark-gray a {
	--color: var(--color-light);
	background-color: var(--bgcolor);
	color: var(--color);
	transition: 0.4s ease;
}

.white-on-dark-gray:hover a,
.white-on-dark-gray:focus-within a:focus {
	--color: var(--color-dark-gray);
}
