:root {
	--color-light: #F2F6F7;
	--color-lt-gray: #E9EFF2;
	--color-med-gray: #BEC8CF;
	--color-dark-gray: #606569;
	--color-charcoal: #313436;
	
	--color-lt-blue: #90C8E8;
	--color-medlt-blue: #61B7E8;
	--color-bright-blue: #1C9DE8;
	--color-blue: #0474B5;
	--color-dark-blue: #03649C; /* rgb(3, 100, 156) */
	--color-dark: #02334F; /* rgb(2, 51, 79) */

	--color-lt-accent: #CF1C04;
	--color-accent: #B51804;
	--color-dark-accent: #9C1503;

	--site-header-height: 128px;
	--scroll-height: 4px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	--fontsize: 1rem;

	background-color: #F2F6F7;
	background-color: var(--color-light);
	color: var(--color-dark);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: var(--fontsize);
	margin: 0;
	padding: 0;
}

a {
	--link-color: #0474B5;
	color: var(--link-color);
}

a:visited,
a:active,
a:hover {
	--link-color: var(--color-dark);
}

a:focus {
	outline-color: #E8671C;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
	margin-bottom: 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

iframe[sandbox=allow-scripts] {
	width: 100%;
}

@media screen and (min-width: 560px) {
	:root {
		--site-header-height: 80px;
	}
}

@media screen and (min-width: 19rem) {
	body {
		--fontsize: calc(1rem + 0.2 * ((100vw - 19rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	body {
		--fontsize: 1.2rem;
	}
}
